// jQuery Library
script(type="text/javascript" src="/assets/js/jquery-2.1.0.min.js")
// Modernizr js
script(type="text/javascript" src="/assets/js/modernizr-2.8.0.min.js")
// Plugins
script(type="text/javascript" src="/assets/js/plugins.js")
// Color Style Switcher
script(type="text/javascript" src="/assets/js/switcher.js")
// Custom JavaScript Functions
script(type="text/javascript" src="/assets/js/functions.js")
// Custom JavaScript Functions
script(type="text/javascript" src="/assets/js/jquery.ajaxchimp.min.js")
