// Color Variation Switcher
div(id="color-style-switcher")
  div
    h3 Palette de couleurs
    ul(class="colors")
      li
        a(class="color1 active" href="#")
      li
        a(class="color2" href="#")
      li
        a(class="color3" href="#")
      li
        a(class="color4" href="#")
      li
        a(class="color5" href="#")
      li
        a(class="color6" href="#")
      li
        a(class="color7" href="#")
      li
        a(class="color8" href="#")
  div(class="bottom")
    a(href="#" class="settings")
      i(class="fa fa-cogs icon-2x")
